body {
    font-family: helvetica;
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 800px;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

li {
    position:relative;
    list-style-type: none;
    font-family: helvetica;
}

li::before{
    position:absolute;
    content:"";
    top: 0.5em;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    margin-left:-20px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
}

div#header {
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
}

div#mandelbrot {
  position: relative;
  top: 10px;
  width: 100%;
  height: 100%;
  padding-bottom: 0;
}

div#mandelbrot img {
  width: 100%;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}


div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 1em;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

a:link, a:visited, a:hover, a:active {
    color: #6699ff;
    text-decoration: none;
}
