body {
    font-family: 'Noto Sans', sans-serif;
    color: black;
    font-size: 1em;
    margin: 0;
    width: 100%;
}

code {
    font-family: 'Monaco';
}

blockquote{
  font-size: 1em;
  margin:11px 0 0 0;
  font-style:italic;
  color: #555555;
  padding:0.2em 30px 0.2em 50px;
  border-left:8px solid gray ;
  line-height:1;
  position: relative;
  background:whitesmoke;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:black;
  font-size:3em;
  position: absolute;
  left: 10px;
  top:0.1em;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

div#content {
    position: relative;
    max-width: 800px;
    padding: 0 10px 0 10px;
    margin: 0px auto 0px auto;
}

p.in-which {
    color: slategray;
    font-size: 1.5em;
    vertical-align: top;
    min-height: 3em;
    bottom-margin: 10px;
}

/* Unused for now
p.in-which span.drop {
  display: inline-block;
  float: left;
  font-size: 3em;
  width: 1.1em;
  height: 1.1em;
  text-align: center;
  border: 2px solid dimgrey;
  margin-right: 5px;
}
*/

.post .left-figure {
  float: left;
  margin-right: 20px;
}

.post .right-figure {
  float: right;
  margin-left: 20px;
}

.post .figure img {
  display: block;
  position: relative;
  margin: 0 auto 0 auto;
}

.post .figure p {
  text-align: center;
  font-style: italic;
  margin-top: 0.5em;
}

.post h2, .post h3, .post h4 {
  clear: left;
}

.post div.references {
    border-top: 1px solid gray;
}

/*
div.archive-column {
    width: 390px;
    display: inline-block;
}
*/

p {
    text-align: justify;
    text-justify: inter-word;
}

li {
    text-align: justify;
    margin-bottom: 10px;
}

ul li {
    position:relative;
    list-style-type: none;
}

ul li::before{
    position:absolute;
    content:"";
    top: 0.5em;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    margin-left:-20px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
}

div#header {
    margin-bottom: 30px;
    padding: 16px 0px 12px 0px;
    width: 100%;
}

div.top-container {
    height: 24px;
    position: relative;
    margin: 0 auto 0 auto;
    padding: 0 10px 0 10px;
    max-width: 800px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 24px;
    text-decoration: none;
    height: 100%;
}

div#header #navigation {
    padding-top: 4px;
    text-align: right;
    vertical-align: bottom;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    margin-left: 12px;
    text-decoration: none;
}

div#mandelbrot {
  position: relative;
  top: 15px;
  width: 100%;
  height: 200px;
  background-image: url("/images/mandelbrot.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

div#footer {
    border-top: solid 1px #e6e6e6;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 3em;
}

h1 #feed-icon {
  display: inline;
  width: 0.8em;
  height: auto;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.125em;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

a:link, a:visited, a:hover, a:active {
    color: #6699ff;
    text-decoration: none;
}
